
.Mãe{
    background-color: gray;
    display: flex;
    flex-direction: row;
    height: 600px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.quadrados{
    height: 100px;
    width: 100px;
    background-color: black;
    
}

p{
    color: bisque;
    text-align: center;
    

}

.segunda{
    height: 100px;
    width: 100px;
    align-self: self-start;
    background-color: aqua;
    box-shadow: 20px 20px 20px blue;
}